<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="login">
        <section >
            <h1 class="h-primary center">myOnlineMeal</h1>
            <div id="contact-box">
                <form action="/Forgotten_P" method="post">
                  
                    <div class="form-group ">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn center" style="margin-left: 223px;">Next</button>
                </form>
            </div>
        </section>
    </div>

</body>

</html>