<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="login">
        <section >
            <h1 class="h-primary center">myOnlineMeal</h1>
            <div id="contact-box">
                <form action="/login_validation" method="post">
                  
                    <div class="form-group ">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" placeholder="Enter your Password">
                    </div>
                    <button type="submit" class="btn center" style="margin-left: 223px;">Log In</button>
    
                    <div class="form-group">
                        <span><a href="/Forgotten">Forgotten password?</a></span>
                        <span><a href="/register">Create Account</a></span>
                    </div>
                </form>
            </div>
        </section>
    </div>

</body>

</html>